@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.navigation {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    width: 75%;
    height: auto;
    flex-direction: column;
    display: flex;

    @media only screen and (min-width: 376px) {
        display: block;
        width: 180px;
        margin-top: 100px;
        margin-left: 15%;
    }
}




.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0px 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    background-color: hsl(246, 80%, 60%);
    font-family: 'Rubik', sans-serif;
    
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        display:block;
        padding: 15px 10px;
        width: 160px;
    }
}

.image {
    width:25%;
    height:40%;

    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width:40%;
        height:40%;
    }
}

.text-container {
    width: 100%;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    margin-top:15%;
    margin-bottom: 15%;
    margin-left: 10px;
}
.small-text {
    font-size: 10.5px;
    color: hsl(236, 100%, 87%);
    opacity: 0.8;
    font-weight:300px;
}

.nav-text {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width:140px;
        height: auto;
     padding: 10px 20px;
        display: block;
    }
}

.nav-text a {
    text-decoration: none;
    color: hsl(236, 100%, 87%);
    opacity: 0.8;
    font-size: 13.5px;
    font-weight: 300px;
    font-family:  'Rubik', sans-serif; 
    
}

.nav-text a:active {
    color: white; 
    opacity: 1;
}

.nav-text a:hover {
    color: white;
}

.card-container {
    width: 90%;
    margin: 5% 10%;


    @media only screen and (min-width: 376px) and (max-width: 1440px){
        display: grid;
        margin-left:20px;
        .first-row {
            display: flex;
            //justify-content: space-evenly
        }
        .second-row{
            margin-top: 130px;
            display: flex;
            
        }
    }
    
}

.card { 
    background-color: hsl(235, 46%, 20%) ;
    border-radius: 10px;
    width:86%;
    height: 5.5rem;
    font-family: 'Rubik', sans-serif;
    padding:20px;
    
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 80%
    }
    
}


.work{ 
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    background-color:hsl(15, 100%, 70%) ; 
    
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0;
        
    }
}

.play {
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    margin-top: 125px;
    background-color: hsl(195, 74%, 62%);
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0;
        margin-left:20px;
        
    }
}

.study {
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    margin-top: 125px;
    background-color: hsl(348, 100%, 68%);
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0;
        margin-left:20px;

    }
}

.exercise {
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    margin-top: 125px;
    background-color: hsl(145, 58%, 55%);
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }
    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0

    }
}

.social {
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    margin-top: 125px;
    background-color: hsl(264, 64%, 52%);
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }

    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0;
        margin-left:20px;

    }
}

.self-care{
    border-radius: 10px;
    width: 85%;
    height: 60px;
    margin-left:25px;
    margin-top: 125px;
    background-color: hsl(43, 84%, 65%);
    :hover{
        background-color: hsl(236, 41%, 36%);
        cursor: pointer;
    }

    @media only screen and (min-width: 376px) and (max-width: 1440px){
        width: 12rem;
        margin:0;
        margin-left:20px;
    }
}

.icon {
    width:42px;
    height: 35px;
    margin-left: 75%;
    opacity: 0.8;
}

.ellipsis {
    float:right;
    width: 15px;
  
}

.title {
    font-size: 16px;
    font-weight: 400;
    color: hsl(236, 100%, 87%)
}