.App {
  background-color: hsl(226, 43%, 10%);
  display: flex;
  min-height: 250vh;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  width: 100%;

   @media only screen and (min-width: 376px) and (max-width: 1440px) {
    padding: 20px 150px;
    flex-direction: row;
    margin:0;
    padding: 0px 20px;
    min-height: 100vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
